<footer class='footer'>
  <small>
    <a href="http://google.com">Google</a>
    for your needs
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://michaelcferger.com">My Site</a></li>
    </ul>
  </nav>
</footer>
